.dataContainer {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid red;
  justify-content: center;

}
.countries {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid blue;
}

.prices {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}